.cp {
  cursor: pointer;
}

img {
  display: block;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/**
 * 网格背景
 */
.grid_bgi {
  background-image: url('@/assets/images/content_bgi.png');
  background-repeat: repeat;
  background-size: 16px 16px;
  background-color: #fff;
}