@font-face {
  font-family: 'YouSheBiaoTiHei';
  src: url("https://app-resources-luojigou.luojigou.vip/fonts/YouSheBiaoTiHei.ttf") format('truetype');
}

@font-face {
  font-family: 'YouSheBiaoTiHei-Bold';
  src: url("https://app-resources-luojigou.luojigou.vip/fonts/YouSheBiaoTiHei-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'YouSheBiaoTiYuan';
  src: url("https://app-resources-luojigou.luojigou.vip/fonts/YouSheBiaoTiYuan.otf") format('opentype');
}

//@font-face {
//  font-family: 'YouSheBiaoTiYuan-Regular';
//  src: url("https://app-resources-luojigou.luojigou.vip/fonts/YouSheBiaoTiYuan.ttf") format('opentype');
//}
//
@font-face {
  font-family: 'PingFang SC-Regular';
  src: url("https://app-resources-luojigou.luojigou.vip/fonts/PingFang-SC-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'PingFang SC';
  src: url("https://app-resources-luojigou.luojigou.vip/fonts/PingFang-SC-Regular.ttf") format('truetype');
}